html,
body {
    background-color: #212121;
    color: #698CC0;
}
a {
    color: #C9BE89
}
a:hover {
    color: #EEFEBB
}
.adminbar {
    background: inherit;
    font-size: 13px
}
.adminbar a,
#adminbar a {
    font-weight: 700;
    text-shadow: none
}
.boardname {
	color:#FFAB3F;
}
.rules ul li strong {
    color: #933!important
}
.postblock {
    background: transparent;
    color: #0061AA;
}
.managehead {
    background: #2C2C2C;
    color: #6393CD
}
.row1 {
    background: #2C2C2C;
    color: #6393CD
}
.row2 {
    background: #575757;
    color: #6393CD
}
.unkfunc {
    background: inherit;
    color: #789922
}
.reflink a {
    color: inherit;
}
.doubledash {
    display: none;
}
.file {
    color: #999;
}
.filelink a {
    color: #789922
}
.filetitle {
    background: inherit;
    color: #3941AC;
}
.omittedposts {
    color: #999
}
.reply {
    background: url(lightning.png) right bottom no-repeat;
    background-color: #2C2C2C;
    color: #698CC0;
    border-color: #575757;
    border-radius: 5px
}
hr {
    height: 3px;
    border-width: 0;
    background: url(line.png) center no-repeat
}
table {
    border-style: none
}
table td {
    border-style: none
}
.abbrev {
    color: #999
}
.highlight, div[id*="pstprev"] {
    background: #111;
    color: #EEE;
    border: #789922 dashed 2px;
    border-radius: 5px
}
.theader, .passvalid, .replymode {
    background: #2C2C2C;
    color: #006AB9;
    border-color: #575757;
}
.managehead {
    padding: 0
}
input[type="password"],select[name="embedtype"],
input[type="file"], input[type="image"] {
    box-sizing: content-box;
    color: #BBB;
    border: #545454 solid 2px;
    background-color: #111
}
input[type="file"],input[type="image"] {
    border-radius: 5px
}
input[type="text"] {
    box-sizing: content-box;
    background-color: #111;
    color: #FFF;
    border: #545454 solid 2px;
    border-radius: 5px
}
input:hover[type="text"],
input:focus[type="text"] {
    background-color: #151515;
    color: #AAF
}
textarea,
select {
    box-sizing: content-box;
    background-color: #111;
    color: #CCC;
    border: #545454 solid 2px;
    border-radius: 5px
}
textarea:hover,textarea:focus,
select:hover,select:focus {
    background-color: #151515;
    color: #EEE
}
.postername {
    color: #B4B9CD;
}
.postertrip {
    color: #AFA;
}
.adminname {
    color: #FFA71F;
}
.spoiler {
    background: #575757;
    color: #575757
}
.spoiler a {
    color: #575757
}
.spoiler:hover, .spoiler a:hover {
    color: #48B0FD
}
pre {
    background: #2C2C2C;
    color: #CCC
}
.underline {
    text-decoration: underline
}
div.typeset span.error {
    padding: 2px!important
}
.red {
    color: red
}
.sage {
    color: #d49318;
}
/*frame*/
.menu {
    border: none
}
dl#menu {
    background-color: #212121!important
}
dl.menu dt {
    background: #111;
    border: #575757 solid 1px;
    border-radius: 5px;
    margin-top: 1em;
    padding-left: .5em;
    cursor: pointer;
    color: #698CC0;
    font-weight: 400
}
dl.menu dd {
    margin-left: .5em;
    padding-left: .5em;
    border-left: 1px solid #575757;
    background: #212121
}
dl.menu dd:hover {
    background: #575757
}
dl.menu dd.hidden {
    display: none
}
/*eye*/
.eye {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: .8em;
    font-weight: 700;
    color: #C9BE89
}
.eye-feed {
    position: relative;
    float: right;
    top: 0;
    right: 0
}
.eye-self {
    position: fixed;
    float: right;
    bottom: 20px;
    right: 10px
}
.counter {
    width: 50px;
    font-weight: 700;
    color: #FFAB3F
}
.sepblock table {
    margin: 0;
    text-align: left;
    width: 100%
}
.separator {
    background: #212121;
    border-top: 1px solid #BBB;
    font-size: 1px;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 1px;
    overflow: hidden
}
/*captcha*/
img[src*="captcha"] {
    /*background: #CCC*/
}
.captcha {
    color: #698CC0;
    /*
	  Foreground color of the letters on pictures generated by captcha.pl.
	  Don't use comments right before declaration of this class.
	*/
}
